.wrapper {
  width: 92%;
  height: 40px;
  background-color: rgb(13, 13, 13);
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  color: rgb(157, 157, 157);
}
input::placeholder {
  color: lightgray; /* Укажите нужный цвет */
  opacity: 0.7; /* Дополнительно можно настроить прозрачность */
}
