.wrapper {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 1000px;
  color: white;
  font-weight: 700;
  font-family: 'Favorit Modern', 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
}

.stories{
  position: absolute;
  top: 20px;
  left: 270px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.posts{
  position: absolute;
  top: 130px;
  left: 296px;
  display: flex;
  align-items: center;
  gap: 15px;
}