.wrapper {
  width: 25%;
  margin-top: 0px;
  padding: 15px;
  overflow-y: hidden;
}
.item {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.text {
  font-size: 16px;
  font-weight: 300;
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgb(190, 190, 205);
  border: none;
}
