.wrapper {
  margin: 0 auto;
  background-color: #081824;
  width: 100%;
  height: 1000px;
  color: #ccccd9;
  font-weight: 700;
  font-family: 'Favorit Modern', 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
}