
  .wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;

    .header {
      height: 150px;

      .logo {
        font-size: 105px;
      }
    }
    .nav_wpapper {
      margin-top: 0px;
      padding: 15px;
      overflow-y: hidden;
      .nav_item {
        display: block;
        height: 20px;
        font-size: 14px;
      }
    }
  }
}
